 <div id="cartModal" class="modal tooltip">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>My cart</h2>
        </div>
       
        {{#if cart.items}}
            <section class="cart-section " >
                <div class="container " >
                    <div class="item-in-cart">
                        {{!-- <div class="my-cart items-details">
                            <h4 class="cart-header__text">My Cart<span class="js-cart--count">({{cart.count}} items)</span> </h4>
                        </div> --}}

                        {{#each cart.items}}
                            <div class="items-details" data-id="{{product.id}}">
                                <img src="{{product.imageURL}}" alt="{{product.name}}" width="80px">
                                <div class="details">
                                    <h3>{{product.name}}</h3>
                                    <div>
                                    <a href="" class="add js-item--remove" data-id="{{product.id}}">&#45;</a>
                                    <span class="quantity cart-item-detail__info--item-count" data-id="{{product.id}}">{{count}}</span>
                                    <a href="" class="add js-item--add" data-id="{{product.id}}">+</a> * <span class="total-rs">Rs. {{product.price}}</span>
                                    </div>
                                </div>
                                <span class="cart-item-detail__info--total" data-id="{{product.id}}">Rs. {{multiply product.price count}} </span>
                            </div>
                        {{/each}}
    {{!-- 
                    <div class="my-cart items items-details mb-20">
                            <img src="/static/images/lowest-price.png" alt="">
                            <span > You won't fint it cheeper anywahere</span> 
                        </div>
                    </div> --}}
                </div>
            </section>                                      
        {{else}}
            <div class="modal-body">
                <h2>No item in your cart</h2>
                <p>Your favourite items are just a click away</p>
            </div>    
        {{/if}}

        <div class="modal-footer">
            
            {{#if cart.totalPrice}}
                <button>Checkout to proceed <span class="button-price">Rs. {{cart.totalPrice}} ></span></button>   
            {{else}}
                <a href="/product" class="button" role="button">Start Shopping</a>
            {{/if}}    
        </div>
    </div>
</div>     