
     <section class="home-section mt-25 mb-20">
        <div class="container " >
            <div class="flex flex-center box-shadow p-0">
                <div class="home-slider">
                    <div class="slideshow-container">
                        {{#each banners}}
                            <div class="mySlides fade">
                                <img src="{{this.bannerImageUrl}}" alt="{{this.bannerImageAlt}}" style="width:100%">
                            </div>
                        {{/each}}
                        
                        <a class="prev" id="prev_slide" >PREV</a>
                        <a class="next" id="next_slide" >NEXT</a>
                        </div>
                        <br>
                        <div style="text-align:center">
                            {{#each banners}}
                                    <span class="dot"></span> 
                            {{/each}}
                        </div>
                </div>
            </div>
            {{#each categories}}
                <div class="flex flex-center box-shadow mt-15">
                    <div class="category fruits">
                        <img src="{{this.imageUrl}}" alt="{{this.name}}">
                    </div>
                    <div>
                        <div>
                            <h2>{{this.name}}</h2>
                            <p>{{this.description}}</p>
                            <a href="/product/{{this.id}}" class="home-anchor">Explore {{this.key}}</a>

                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
