<section class="plp-section">
            <div class="container " >
                <div class="wrapper">
                    <div class="custom-select mt-15 xs-show" >
                        <select>
                            {{#each categories}}
                            <option value="0">{{ this.name }}</option>
                            {{/each}}  
                        </select>
                    </div>
                    <nav class="plp-nav">
                        <ul class="">
                            {{#each categories}}
                                <li><a href="/product/{{ this.id }}" class="js--sidenav" data="{{ this.id }}"> {{ this.name }}</a></li>
                            {{/each}}  
                        </ul>
                    </nav>
                      <main class="mt-20 mb-20">
                        <div class="flex-grid">

     
                            {{#each prodHbs}}

                                <div class="plp-list">
                                <h2>{{ this.name }}</h2>
                                <div class="product">
                                    <img src="{{this.imageURL}}" alt="{{this.description}}" >
                                    <div class="prodct-info">
                                        <p>{{this.description}}</p>
                                        <div class="product-mrp ">
                                            <span class="xs-hide sm-hide">MRP Rs. {{this.price}}</span>
                                            <button class="product-card__buy--btn" id="{{this.id}}">Buy Now<span class="xs-show sm-show" > @ MRP Rs. {{this.price}}</span></button>
                                        </div> 

                                    </div>    
                                </div>
                                </div>

                            {{/each}}

                        </div>
                    </main>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="/js/product.js"></script>